@font-face {
  font-family: "Nunito";
  src: url("./../font/Nunito-Black.ttf");
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  border-style: solid;
  border-color: #b3b3a3;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  height: 2vw;
}

#device {
  width: 69vw;
  height: 30vw;
  background-color: black;
  border-radius: 20px;
}

#screen {
  width: 55vw;
  height: 85%;
  margin-bottom: 3vw;
  margin-left: 5.3vw !important;
  top: 48% !important;
  background-color: dimgrey;
  border-radius: 0 2px 2px 0;
  overflow: hidden;
}

#logo {
  bottom: 0.5vw;
  left: 2.5vw;
  position: absolute;
}

#buttonUp {
  right: 4.7vw;
}

#buttonDown {
  right: 1.8vw;
}

.screenButton {
  width: 2.5vw;
  height: 2vw;
  bottom: 0.4vw;
  position: absolute;
}

.innerButton {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border-style: none;
  padding-top: 3px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html,
body {
  margin: 0;
  height: 100%;
}

object {
  width: 65vw;
  height: 100%;
}

#welcome {
  text-align: center;
  margin-top: 10vw;
  color: #ffe400;
  font-size: 60;
}

#welcomeLogo {
  position: relative;
  top: 13vw !important;
}

.screenFrame {
  width: 100%;
  height: 100%;
  float: left;
  border: 0px;
  overflow: hidden;
}

#menuScreen {
  width: auto;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

#menuBar {
  width: 11vw;
  height: 85%;
  background-color: #161b4b;
  float: left;
  margin-bottom: 3vw;
  margin-left: 28px;
  margin-top: 1.66vw;
  border-radius: 3px 0 0 3px;
}

#menuButton {
  background-color: rgba(255, 255, 255, 0);
  height: 6vw;
  width: 8vw;
  margin: 0;
  position: relative;
  top: 1.5vw;
  left: 1.3vw;
  border: 0;
  border-radius: 15px;
  padding-left: 0;
}

hr {
  margin-bottom: 7px;
  margin-top: 7px;
  width: 70%;
  height: 1.2vw;
  border-radius: 3px;
  background-color: #ffe400;
  border-style: none;
}

#contentMenu {
  height: 100%;
}

#headerMenu {
  background-color: #e8e8e8;
  height: 25%;
}

#headerMenu h3 {
  color: #464545;
  font-size: 5vw;
  position: relative;
  margin: auto;
  padding-left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

#buttonsMenu {
  margin-top: 10px;
  padding-top: 1vw;
  background-color: #e8e8e8;
  height: 42%;
}

#buttonsmenu button {
  height: 6.6vw;
  width: 9.6vw;
  border-style: none;
  border-radius: 5px;
  background-color: #227c26;
  margin: 1vw 8.9vw 1vw 2vw;
}

#footerMenu {
  margin-top: 10px;
  background-color: #e8e8e8;
  height: 25%;
}

#emptyScreen {
  background-color: dimgrey;
  position: absolute;
  width: 65.25vw;
  height: 85%;
  margin-bottom: 3vw;
  margin-left: 22px;
  top: 1.66vw;
  border-radius: 2px;
  z-index: 99;
  overflow: hidden;
}

#main {
  margin-top: 10px;
  padding-top: 1vw;
  background-color: #e8e8e8;
  height: 42%;
  color: #464545;
}

#mainLarge {
  margin-top: 10px;
  background-color: #e8e8e8;
  height: 71%;
  color: #464545;
}

.customButton {
  height: 6vw;
  width: auto;
  background-color: white;
  border-style: none;
  border-radius: 1vw;
  padding-left: 6px;
  text-align: center;
  line-height: 5vw;
  margin: 1vw 0 1.2vw 2vw;
  float: left;
}

.customButton button {
  float: right;
  margin-left: 4px;
  height: 100%;
  width: 6vw;
  border-radius: 0 1vw 1vw 0;
  border-style: none;
  background-color: #227c26;
  color: #ffe400;
  font-size: 2.7vw;
  font-family: "Nunito", sans-serif;
  padding-right: 5px;
}

.customButton p {
  margin: 0;
  display: inline-block;
  font-size: 3vw;
  color: #464545;
  padding: 0.5vw 1vw;
}

.customButton img {
  transform: translate(0, 18%);
  margin-left: 0.5vw;
  float: left;
}

#headerMenu img {
  margin-left: 2vw;
  transform: translate(0, 50%);
  float: left;
  position: relative;
  padding-right: 2vw;
}

.right {
  float: right;
}

.min-width-30 {
  min-width: 30vw;
}

.min-width-40 {
  min-width: 40vw;
}

#fehler {
  margin: 1vw 0 0 2vw;
}

#fehler h2,
#fehler h3 {
  margin: 0;
}

#fehler img {
  float: left;
  margin-right: 10px;
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#fehlerbeschreibung {
  margin-left: 1vw;
}

#empfehlung {
  float: right;
  margin-right: 1vw;
  margin-top: 1vw;
}

#empfehlung button {
  width: 8vw;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  margin-left: 1vw;
}

#stop {
  float: right;
  margin-right: 1vw;
}

.buttonWeiter {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  float: right;
  margin-top: 1.7vw;
}

.buttonZurueck {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  float: left;
  margin-top: 1.7vw;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
